# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rolls  royce\rest-assured\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
